html { height: 100% !important; }
body { height: 100% !important; padding-bottom: 0px}

#root{
    background: #ecf0f5
}

.main-footer { position: fixed; left: 0; right: 0; bottom: 0; }
.login-page{
    background: #ecf0f5;
    height: 100%
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.check-icon{
    opacity: 0
}

.check-icon:hover{
    opacity:100
}

.date-text {
    color: #969696
}

.date-text:hover{
    color: #606060
}